JAR_DIR=YOUR_IVY_CACHE_HERE 
# generally it will be under c/users/your_device_name/.ivy2/jars
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
# get a free tier gemini api key from google AI studio.
GROQ_API_KEY=YOUR_GROQ_API_KEY
# get a free tier groq key.
